node-red/flows.json
[
    {
        "id": "4df3273b04370a1b",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "021575aab027395a",
        "type": "e-mail",
        "z": "4df3273b04370a1b",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "fdg",
        "x": 1130,
        "y": 340,
        "wires": []
    },
    {
        "id": "5def096fc2aaf896",
        "type": "change",
        "z": "4df3273b04370a1b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "payload.email",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.topic",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 340,
        "wires": [
            [
                "021575aab027395a",
                "c15d04f76c28d4c7"
            ]
        ]
    },
    {
        "id": "2e4e1cd6749c0985",
        "type": "json",
        "z": "4df3273b04370a1b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "5def096fc2aaf896",
                "a3c9289d13195282",
                "0a1c2cc6f1a7566d"
            ]
        ]
    },
    {
        "id": "92920775a9a923fd",
        "type": "http in",
        "z": "4df3273b04370a1b",
        "name": "",
        "url": "/email",
        "method": "post",
        "upload": false,
        "skipBodyParsing": true,
        "swaggerDoc": "",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "2e4e1cd6749c0985",
                "6edf4fbe0da70689"
            ]
        ]
    },
    {
        "id": "6edf4fbe0da70689",
        "type": "debug",
        "z": "4df3273b04370a1b",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "a3c9289d13195282",
        "type": "debug",
        "z": "4df3273b04370a1b",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "324b300942b1d3f4",
        "type": "inject",
        "z": "4df3273b04370a1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"email\":\"aritz.ugarte@alumni.mondragon.edu\",\"message\":\"Kaixo\",\"topic\":\"Your diagnosis is done\"}",
        "payloadType": "json",
        "x": 630,
        "y": 780,
        "wires": [
            [
                "510af55024bf0382"
            ]
        ]
    },
    {
        "id": "8583f688915e556d",
        "type": "http request",
        "z": "4df3273b04370a1b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/email",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1050,
        "y": 780,
        "wires": [
            [
                "7cbd01fb859148c7"
            ]
        ]
    },
    {
        "id": "7cbd01fb859148c7",
        "type": "debug",
        "z": "4df3273b04370a1b",
        "name": "Result (201: Full List)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 780,
        "wires": []
    },
    {
        "id": "510af55024bf0382",
        "type": "function",
        "z": "4df3273b04370a1b",
        "name": "function 17",
        "func": "msg.headers = {}\nmsg.headers['Accept']='*/*'\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 780,
        "wires": [
            [
                "8583f688915e556d"
            ]
        ]
    },
    {
        "id": "c15d04f76c28d4c7",
        "type": "debug",
        "z": "4df3273b04370a1b",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "0a1c2cc6f1a7566d",
        "type": "http response",
        "z": "4df3273b04370a1b",
        "name": "",
        "statusCode": "201",
        "headers": {},
        "x": 900,
        "y": 400,
        "wires": []
    },
    {
        "id": "e839c68834a0af7e",
        "type": "inject",
        "z": "4df3273b04370a1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"email\":\"aritz.ugarte@alumni.mondragon.edu\",\"message\":\"Kaixo\",\"topic\":\"Your diagnosis is done\"}",
        "payloadType": "json",
        "x": 750,
        "y": 920,
        "wires": [
            [
                "45ef66080536485b"
            ]
        ]
    },
    {
        "id": "82dddb0e15382e8f",
        "type": "http request",
        "z": "4df3273b04370a1b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://node-red-591094411846.europe-west1.run.app//email",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 920,
        "wires": [
            [
                "751d9113fa7bac78"
            ]
        ]
    },
    {
        "id": "751d9113fa7bac78",
        "type": "debug",
        "z": "4df3273b04370a1b",
        "name": "Result (201: Full List)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 920,
        "wires": []
    },
    {
        "id": "45ef66080536485b",
        "type": "function",
        "z": "4df3273b04370a1b",
        "name": "function 20",
        "func": "msg.headers = {}\nmsg.headers['Accept']='*/*'\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 920,
        "wires": [
            [
                "82dddb0e15382e8f"
            ]
        ]
    },
    {
        "id": "0ba50fec89763559",
        "type": "e-mail",
        "z": "4df3273b04370a1b",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "fdg",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "22755dbb7917d832",
        "type": "e-mail",
        "z": "4df3273b04370a1b",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "fdg",
        "x": 1330.8125,
        "y": 373.8125,
        "wires": []
    },
    {
        "id": "2b4b21125f1def2b",
        "type": "e-mail",
        "z": "4df3273b04370a1b",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "fdg",
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "1068dd7d1f207a41",
        "type": "json",
        "z": "4df3273b04370a1b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 560,
        "wires": [
            [
                "0bd9637b6f5b9ae8",
                "4ad79bbad1644f4f",
                "7de60871414f010e"
            ]
        ]
    },
    {
        "id": "a6d4f21794f27188",
        "type": "http in",
        "z": "4df3273b04370a1b",
        "name": "",
        "url": "/result",
        "method": "post",
        "upload": false,
        "skipBodyParsing": true,
        "swaggerDoc": "",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "1068dd7d1f207a41",
                "bae911627f6dfdf0"
            ]
        ]
    },
    {
        "id": "3157dc03e85f49a8",
        "type": "inject",
        "z": "4df3273b04370a1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"diagnosis_id\":\"1\",\"email\":\"aritz.ugarte@alumni.mondragon.edu\",\"dicom_url\":\"https://drive.google.com/uc?export=download&id=1V27rtt1TmP6sFTRjdX4lijQr2b5_B3_Y\",\"topic\":\"Your diagnosis is done\"}",
        "payloadType": "json",
        "x": 1010,
        "y": 660,
        "wires": [
            [
                "b4e36fb621eba55a"
            ]
        ]
    },
    {
        "id": "1379da5a80a0f148",
        "type": "http request",
        "z": "4df3273b04370a1b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://dicom-api-591094411846.europe-west1.run.app//predict-url",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1350,
        "y": 660,
        "wires": [
            [
                "fa19b47c0c5225ad"
            ]
        ]
    },
    {
        "id": "fa19b47c0c5225ad",
        "type": "debug",
        "z": "4df3273b04370a1b",
        "name": "Result (201: Full List)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 660,
        "wires": []
    },
    {
        "id": "b4e36fb621eba55a",
        "type": "function",
        "z": "4df3273b04370a1b",
        "name": "function 1",
        "func": "msg.headers = {}\nmsg.headers['Accept']='*/*'\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 660,
        "wires": [
            [
                "1379da5a80a0f148"
            ]
        ]
    },
    {
        "id": "ff7570e685d3aa5f",
        "type": "inject",
        "z": "4df3273b04370a1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"diagnosis_id\":\"2\",\"email\":\"aritz.ugarte@alumni.mondragon.edu\",\"dicom_url\":\"https://drive.google.com/uc?export=download&id=1dJ8PjR06e9PiVKSbURbDXv-tWEYvRoSr\"}",
        "payloadType": "json",
        "x": 2010,
        "y": 680,
        "wires": [
            [
                "4e92fac7482758cf"
            ]
        ]
    },
    {
        "id": "e0ddbb03bd6f7925",
        "type": "http request",
        "z": "4df3273b04370a1b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://dicom-api-591094411846.europe-west1.run.app//predict-url",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2430,
        "y": 680,
        "wires": [
            [
                "c6beb89fe4cd1749"
            ]
        ]
    },
    {
        "id": "c6beb89fe4cd1749",
        "type": "debug",
        "z": "4df3273b04370a1b",
        "name": "Result (201: Full List)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2760,
        "y": 680,
        "wires": []
    },
    {
        "id": "4e92fac7482758cf",
        "type": "function",
        "z": "4df3273b04370a1b",
        "name": "function 2",
        "func": "msg.headers = {}\nmsg.headers['Accept']='*/*'\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2210,
        "y": 680,
        "wires": [
            [
                "e0ddbb03bd6f7925"
            ]
        ]
    },
    {
        "id": "0bd9637b6f5b9ae8",
        "type": "change",
        "z": "4df3273b04370a1b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "payload.email",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "The first step of your diagnosis is already completed",
                "tot": "str",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Be wary of your email, we will contact you with the developments.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "0ba50fec89763559",
                "5a73ee184d1c2f82"
            ]
        ]
    },
    {
        "id": "5a73ee184d1c2f82",
        "type": "debug",
        "z": "4df3273b04370a1b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "48baba4afce8b3a2",
        "type": "http request",
        "z": "4df3273b04370a1b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://crud-rest-db-591094411846.europe-west1.run.app//diagnosis_result",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 560,
        "wires": [
            [
                "f6dfdc711facfdf3"
            ]
        ]
    },
    {
        "id": "f12fc64f88afbb6f",
        "type": "function",
        "z": "4df3273b04370a1b",
        "name": "function 3",
        "func": "msg.headers = {}\nmsg.headers['Accept']='*/*'\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 560,
        "wires": [
            [
                "48baba4afce8b3a2"
            ]
        ]
    },
    {
        "id": "f6dfdc711facfdf3",
        "type": "debug",
        "z": "4df3273b04370a1b",
        "name": "Result (201: Full List)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 560,
        "wires": []
    },
    {
        "id": "96030dc56f393d65",
        "type": "inject",
        "z": "4df3273b04370a1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"numPatients\": 2, \"numDoctors\": 1, \"numMachines\": 2 }",
        "payloadType": "json",
        "x": 1930,
        "y": 860,
        "wires": [
            [
                "931a03adf6dd3a0c"
            ]
        ]
    },
    {
        "id": "d76c318192d05d84",
        "type": "http request",
        "z": "4df3273b04370a1b",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://simulator-591094411846.europe-west1.run.app/Simulation/modify",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2350,
        "y": 860,
        "wires": [
            [
                "5de25010ca5d254c"
            ]
        ]
    },
    {
        "id": "5de25010ca5d254c",
        "type": "debug",
        "z": "4df3273b04370a1b",
        "name": "Result (201: Full List)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2680,
        "y": 860,
        "wires": []
    },
    {
        "id": "931a03adf6dd3a0c",
        "type": "function",
        "z": "4df3273b04370a1b",
        "name": "function 4",
        "func": "msg.headers = {}\nmsg.headers['Accept']='*/*'\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2130,
        "y": 860,
        "wires": [
            [
                "d76c318192d05d84"
            ]
        ]
    },
    {
        "id": "4ad79bbad1644f4f",
        "type": "debug",
        "z": "4df3273b04370a1b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 680,
        "wires": []
    },
    {
        "id": "bae911627f6dfdf0",
        "type": "debug",
        "z": "4df3273b04370a1b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 680,
        "wires": []
    },
    {
        "id": "7de60871414f010e",
        "type": "function",
        "z": "4df3273b04370a1b",
        "name": "function 5",
        "func": "msg.payload = {\n    prediction: msg.payload.prediction,\n    prob_malignant: msg.payload.prob_malignant,\n    diagnosis_id: msg.payload.diagnosis_id\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 560,
        "wires": [
            [
                "f12fc64f88afbb6f"
            ]
        ]
    },
    {
        "id": "02ae3021356d994b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-email": "5.0.5"
        }
    }
]